html,
body {
  font-family: "Courier New", Courier, monospace;
  
  text-align: center;
  height: 100%;
  margin: 0;
}

.contenedor {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion {
  width: 50%;
  height: auto;
}
.imagen {
  width: 100%;
  height: 100%;
}
